VITE_FIREBASE_API_KEY=AIzaSyBxjHgqQqaZcpG_GDBoUM9hixG7tbitoZI
VITE_FIREBASE_AUTH_DOMAIN=hello-local-2e935.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=hello-local-2e935
VITE_FIREBASE_STORAGE_BUCKET=hello-local-2e935.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=48136214665
VITE_FIREBASE_APP_ID=1:48136214665:web:6c3d9e6054336419760e58
VITE_FIREBASE_MEASUREMENT_ID=G-JT3J4YCR6P
VITE_FIREBASE_VAPID_KEY=BONynKVWApey_lIm7aHRHubJTr2uD95OAMmBMAnS4Cn3xxSKfV3cbWE1YMmHg5v9Oy0OCXldhT7AdAqGDdiRVsY
